
/* #########################################################################
* # main
* ######################################################################### */

@charset 'UTF-8';

/* $color-font: #ff0000;
$color-bg: silver;

  body::before {
  width: 100%;
  content: 'add your styles to assets/themes/YOUR_THEME/sass/main.scss';
  font-size: 2em;
  color: $color-font;
  text-align: center;
  background-color: $color-bg;
} */
/* custom stylsheets */

@import './bootstrap/scss/bootstrap';
@import './bootstrap/scss/reboot';
/* @import './now-ui-kit/assets/sass/now-ui-kit'; */
@import './now-ui-kit-pro/assets/scss/now-ui-kit';

/* html {
  font-size: 100%;

  / * Scales by 1px for every 100px from 600px to 1000px * /
  @media (min-width: 600px) {
    font-size: calc(112.5% + 4 * (100vw - 600px) / 400)
  }

  / * Scales by 0.5px for every 100px from 1000px to 2000px * /
  @media (min-width: 1000px) {
    font-size: calc(1117.5% + 5 * (100vw - 1000px) / 1000)
  }
} */


/* ----------- define color variables -----------*/
:root {
	
  --fill-color-facebook: #3b5998;
  --fill-color-twitter: #4da7de;
  --fill-color-pinterest: #b51205;
  --fill-color-linkedin: #3371b7;
  --fill-color-google-plus: #c93725;
  --fill-color-rss: #f26109;
  --fill-color-boat: #013E75;
  --fill-color-boat-light: #5f8bb2;
  --Font-Size: 20px;
}

.navbar-custom {
    background-color: #013E75;
}

#Logo {
  transition: all 0.3s;
  }
    .largeLogo{width: 260px;}
    .smallLogo  {
        width: 12.125rem;
        height: 10vh;
    }

/* .navbar-custom .navbar-brand, .navbar-custom .navbar-text {
  color: #5f8bb2;
}

.navbar a:not(.btn):not(.dropdown-item) {
	color: #013E75;
} */

/* ----------- define float ------------- */
.float-center {
    text-align: center;
}

/* ----------- define margin for jumbotron -----------*/
.mt-md-8 {
  margin-top: 8rem !important;
}

/* ----------- GPS Track styling ----------- */
.gps-track li {
    margin-left: 30px;
}

/* -----------End GPS Track ----------- */

/* ----------- define text color navbar --------- * /
.navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item), .dropdown-menu .dropdown-item {
  color: var(--fill-color-boat);
} */


/* ----------- define footer color ------------- */
.footer[data-background-color="grijs"] {
  background-color: #bbc2c2;
}

/* ----------- styling needed for endless scrolling -----------*/
.jscroll-loading {
    height: 36px;
    text-align: center;
    padding-top: 5px;
    opacity: 0.7;
}

/* ----------- CSS for floatbox image in CGBlog ------------ */
.floatbox_left,
.floatbox_right {
    
    position:relative;
    text-align:center;
    top:3px
}

.floatbox_left {
    float: left !important;
    margin-right: 10px
}

.floatbox_right {
    float: right !important;
    margin-left: 10px
}

.cgblog_image_title,
.cgblog_image_c2e {
   font-size: 9px;
   font-style: italic;
   display: block;
   line-height: 12px;
   height: 15px;
}

.cgblog_image_title {
    font-size:12px;
    font-style:normal;
    font-weight:400;
    line-height:16px;
}


/* ----------- to align text vertical on home page ----------- */
svg {
	width: 100%; height: 100%;
	pointer-events: none; /* so that you can resize the element */
}
text {
	text-anchor: middle;
	pointer-events: auto; /* Cancel the svg’s pointer-events */
	fill: currentColor;
	font-size: 4vw;  /* vw makes the size responsive */
	color:white;
}


/* ---------- Gbook - Gastenboek -------------- */
.gbook_form label {
    display:inline-block;
    width:100%;
    margin-top:10px;
}

.gbook_form input {
    width:100%;
    padding:3px;
    border:2px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.gbook_form input.cms_checkbox { width:auto }

.gbook_form input.cms_submit {
    width:auto;
    margin-bottom:30px;
    padding:2px 30px;
    background-color:#ddd;
}

.gbook_form input.cms_submit:hover { background-color: #bbb }

.gbook_form textarea {
    width:100%;
    height:140px;
    padding:2px;
    border:2px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    vertical-align:middle;
}

.gbook_field_error input, .gbook_field_error textarea { background:#fdd url("[[root_url]]/modules/Gbook/images/error.png") no-repeat center right }

.gbook_form .gbook_smileys { margin: 4px 0 0 0 }

.gbook_pagelinks {
    height:20px;
    text-align:right;
}

.gbook_pagelinks a {
    padding:1px 3px;
    border:2px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    background-color:#ddd;
    color:#999;
    text-decoration:none;
}

.gbook_pagelinks a.gbook_active_page {
    font-weight:bold;
    color:#333;
}

.gbook_pagelinks a:hover {
    color:#555;
    background-color:#bbb;
}

.gbook .gbook_entry { margin-top:20px }

.gbook .gbook_entry_name {
    padding-left:10px;
    font-weight:bold;
}

.gbook .gbook_entry_date {
    float:right;
    padding-right:10px;
    font-weight:bold;
}

.gbook .gbook_entry_title {
    padding:2px 10px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color:#ddd;
}

.gbook .gbook_entry_message {
    margin:4px 0;
    padding:0px 10px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color:#eee;
} 
div.naamveldgregor input { border-color: rgb(53, 12, 235); }

//
// EOF
//
