
/* #########################################################################
* # main
* ######################################################################### */

@charset 'UTF-8';

$color-font: #ff0000;
$color-bg: silver;

body::before {
  width: 100%;
  content: 'add your styles to assets/themes/YOUR_THEME/sass/main.scss';
  font-size: 2em;
  color: $color-font;
  text-align: center;
  background-color: $color-bg;
}

//
// EOF
//