/* ############################################################################
* # webfont_roboto
* ############################################################################ */

$roboto-map: (
  'thin': 200 Roboto-Thin 'Roboto-Thin',
  'light': 300 Roboto-Light 'Roboto-Light',
  'regular': 400 Roboto-Regular 'Roboto-Regular',
  'medium': 500 Roboto-Medium 'Roboto-Medium',
  'bold': 700 Roboto-Bold 'Roboto-Bold',
);

// include font-face

@each $key, $values in $saira-map {
  $font-key: $key;
  $font-weight: nth($values, 1);
  $font-name: nth($values, 2);
  $font-alias: nth($values, 3);
  @include font-face($font-alias, '/assets/dst/webfont/'+ $font-name, $font-weight, $font-display: optional);
}

// apply font-face

.roboto {

  @each $key, $values in $saira-map {
    $font-key: $key;
    $font-weight: nth($values, 1);
    $font-name: nth($values, 2);
    $font-alias: nth($values, 3);

    &-#{$font-key} {
      font-size: 1.5em;
      color: get-random-color('hex');
      font-family: $base-font-family;
      font-weight: #{$font-weight};

      .fonts-loaded & {
        font-family: '#{$font-alias}', $base-font-family;
        color: var(--body-color);
      }

    }

  }

}

//
// EOF
//
