{strip}
{* +++++ CGBlog detail template for reading blog item / wider lay-out +++++ *}
{* +++++ Start defining variables +++++ *}
	{assign var='autodescription' value=$entry->content}
	{assign var='autokeywords' value=$entry->content}
	{assign var='articleid' value=$entry->id scope=global} {* needed to select if contact form is shown in article 162, url is floating around www *}
	{$og_type='article' scope='global'}
	{assign var='detail_page' value='logboek'}
	{* 07dec18 disabled, probably not needed     assign var='CGBlogID' value=$entry->id*}
	{assign var='uisge_news_id' value=$entry->id}
	{assign var='boat_date' value=$entry->postdate scope=global}
	
	{* Variables and calculate the log distance *}
	{assign var='logbegin' value=''}
	{assign var='logeind' value=''}
	{assign var="logtotal" value=0} 
	{foreach from=$entry->fields item='field'}
    	{* the field is an object.. available members are:
    	alias id, name, type, max_length, create_date, modified_date, item_order, public, and value.
    	i.e: {$field->name} will output the name: {$field->alias} will output the alias.
    	Name Log begin Nm
        alias Log_begin_Nm
        Name Log eind Nm
        alias Log_eind_Nm
        Name facebook_thumbnail
        alias facebook_thumbnail
        Name Tags
        alias Tags
    	*}
		{if $field->alias =='Log_begin_Nm'}
			{assign var=logbegin value=$field->value}
		{/if}
		{if {$field->alias =='Log_eind_Nm'}}
			{assign var=logeind value=$field->value}
		{/if}
	{/foreach}

	{* 02jun17 added: +++++ Start SEO tags +++++ *}
	{$canonical_global = $entry->canonical scope=global}
	{$last_modified = $entry->modified_date|date_format:'%e-%m-%Y' scope=global}
	{if !empty($entry->fieldsbyname.facebook_thumbnail->value)}
		{$page_image = "{$entry->file_location}/{$entry->fieldsbyname.facebook_thumbnail->value}" scope=global}
	{elseif $entry->postdate|date_format: 'YYYY-MM-DD' < '2016-03-10'} {* before this date I was sailing a Hanse and after this date a Dehler: some according image ------------------ {if $boat_date|date_format:'YYYY-MM-DD' > '2016-03-10'} *}
		{$page_image = "{uploads_url}/images/Gallery/Hanse/UB_inde_sluis.jpg" scope=global}
	{else}
		{$page_image = "{uploads_url}/_template/Main_Image_Uisge-Beatha.jpg" scope=global}
	{/if}
	
	{$page_title = $entry->title|cms_escape:htmlall scope=global}
	{assign var='blogtitle' value=$page_title scope=global}
	{assign var='get_title' value=$entry->title scope=global}
	{$page_description = $entry->summary|default:$entry->content|strip_tags:false|strip|truncate:300 scope=global}
	
	{* needed to align with Arnoud's way of adding meta tags *}
	{assign var='images_all_global' value=$page_image scope='global'}
    {capture assign='_content'}{eval var=$entry->content}{/capture}
    {assign var='_summary' value=$page_description}
    {assign var='cgblog_content' value=$_content}
    {$_summary=$_summary|strip_tags:false|strip|truncate:300:'':false:false|regex_replace:"/^[\s]*(.*?)[\s]*$/":"$1"}
    {$_content=$_content|strip_tags:false|strip|truncate:300:'':false:false|regex_replace:"/^[\s]*(.*?)[\s]*$/":"$1"}
    
    {* this changes the description-tag in the title bar  ------- $content_obj->SetTitleAttribute($_summary|default:$_content) *}

	{* :false:false|regex_replace:"/^[\s]*(.*?)[\s]*$/":"$1"} *}
	{if $entry->postdate} 
	   {assign var='meta_postdate' value=$entry->postdate|date_format:'%a, %d %b %Y %H:%M:%S %z' scope=global}
	{/if}
	{if $entry->modified_date} 
	   {assign var='meta_modifieddate' value=$entry->modified_date|date_format:'%a, %d %b %Y %H:%M:%S %z' scope=global}
	   {$og_updated_time=$meta_modifieddate|date_format:'%a, %d %b %Y %H:%M:%S %z'}
	{/if}
	
	{* Prepare tags *}
	{$taglist = $entry->fieldsbyname.Tags->value scope=global}
    {$tagwords = ','|explode:$taglist}
    
    {* Calculate roughly the read_time *}
    {$words = $entry->content|count_words}
    {math equation='words/260' words=$words assign='read_time'} {*average human read arounds 260 words/minute *}

	{* Prepare previous and next page *}
	{prev_next pageid=$page_id currid=$entry->id currdate=$entry->postdate}
	
	{* SOCIAL_LINKS *}

    {if isset($content_obj->TitleAttribute()) && $content_obj->TitleAttribute() != ''}
      {capture assign='_sociallinks_description'}{$content_obj->TitleAttribute}{/capture}
    {else}
      {$_sociallinks_description = ''}
    {/if}
    
    {$_sociallinks_title = "{title} - {$sitename}"}
    {capture assign='_sociallinks_title'}{$_sociallinks_title|cms_escape:htmlall|truncate:80}{/capture}
    
    {if isset($canonical_global)}
      {$_sociallinks_url = $canonical_global}
    {elseif isset($content_obj)}
      {$_sociallinks_url = $content_obj->GetURL()}
    {/if}
    
    {if isset($_images_all) && $_images_all['images_content']|@count}
      {*get_html_attributes html={$_images_all['images_content'][0]}*}
      {capture assign='_sociallinks_imageurl'}{root_url}/{$_images_all['images_content'][0]['src']}{/capture}
    {else}
      {capture assign='_sociallinks_imageurl'}{$theme_absolute_url}/images/twitter_summary_image.png{/capture}
    {/if}
    
    {sociallinks title=$_sociallinks_title url=$_sociallinks_url imageurl=$_sociallinks_imageurl description=$_sociallinks_description}
    
    {* SOCIAL_LINKS *}

{/strip}
{* +++++ End defining variables +++++ *}
{strip}

        <section class="section my-3">
            <div class="row">
                <section class="section col-md-3 d-none d-sm-block mr-auto">
                    <div class="card pl-1 z-depth-2">
                        <span class="row">
                            {svg use="hour-glass"}
                        </span>
                        <ul class="list-unstyled">
                            <li class="pl-2">
                                <span class="text-muted">
                                    {$read_time|round} min.
                                </span>
                            </li>
                        </ul>
                        {if isset($meta_postdate)}
                            <span class="row">
                                {svg use="calendar"}
                            </span>
                            <ul class="list-unstyled">
                                <li class="pl-2">
                                    <span class="text-muted">
                                        {$meta_postdate|cms_date_format}
                                    </span>
                                </li>
                            </ul>
                        {/if}
                        {if $meta_modifieddate gt $meta_postdate}
                            <span class="row">
                                {svg use="calendar1"}
                            </span>
                            <ul class="list-unstyled">
                                <li class="pl-2">
                                    <span class="text-muted">
                                        {$entry->modified_date|cms_date_format}
                                    </span>
                                </li>
                            </ul>
                        {/if}
                        {if $entry->categories}
                            <span class="row">
                                {svg use="archive"}
                            </span>
                            <ul class="list-unstyled">
                                {foreach from=$entry->categories|sort_array item='category' name=myloop}
                                    {assign var=category value={$category.name}} {* ', '}{$tags}" *}
                                    <li class="pl-2">
                                        <span class="text-muted">
                                            {$category} {* |substr:0:-2} { * remove the last whitespace + comma *}
                                        </span>
                                    </li>
                                {/foreach}
                            </ul>
                        {/if}
                        {if $entry->author}
                            {*<ul class="list-unstyled">*}
                                <div class="author">
                                    <span class="row">
                                        {svg use="keyboard"}
                                    </span>
                                    <ul class="list-unstyled">
                                        <li class="pl-2">
                                            {if {$entry->author|replace:' ':''} == 'Gregor'}
                                                {assign var=image_author value="{root_url}/uploads/images/cms/gdg.jpg"}
                                                <div class="chip chip-md orange darken-2 white-text">
                                                    <img src="{CGSmartImage src=$image_author alt="Auteur {$entry->author|replace:' ':''}" title={$entry->author|replace:' ':''} notag=1 noembed={$noembed} noresponsive=1}">&nbsp{$entry->author|replace:' ':''}
                                                </div>
                                            {else}
                                                <span class="text-muted">
                                                    {$entry->author}
                                                </span>
                                            {/if}
                                        </li>
                                    </ul>
                                </div>
                            {*</ul>*}
                        {/if}
                    </div>
                </section> {* class sidebar left *}
                <section class="section col-md-8 col-12 ml-auto mr-auto">
                {* CGSmartImage title={$taglist} alt={$entry->title} filter_resize="p,185" noembed={$noembed} noresponsive=1  src1=$page_image *}
                    <div class="card card-raised deep-orange-text">
                        <img class="card-img-top img-fluid" src="{CGSmartImage title="{$taglist}" alt="{$entry->title}" filter_resize='p,165' noembed={$noembed} noresponsive=1 notag=1 src1=$page_image}" alt="{$entry->title}"/>
                        <div class="card-img-overlay text-center card-title">
                            <h2 class="h2-responsive white-text">
                                {$page_title}
                            </h2>
                        </div>
                        {if $meta_postdate}
                            <div class="d-block d-sm-none">
                                {svg use="calendar"}&nbsp;geplaatst
                                <ul class="list-unstyled">
                                    <li class="pl-2">
                                        <span class="text-secondary">
                                            {$entry->postdate|cms_date_format}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        {/if}
                        <div class="card-body text-primary text-left" style="font-size: 3vh;">
                            <p class="text-danger">
                                {$page_description}
                            </p>
                        </div>
                        {if !empty($taglist)}
                            {* < div class="card-body">
                            { * <ul id="taglist">  *}
                            <div class="card-footer" style="position: relative;"> {* style="position: relative;" blog-tags mt-1    |    style needed to make links clickable *}
                                {* Tags: *}
                                <span class="rounded-bottom lighten-3 text-left pt-3">
                                    {svg use="tags"}&nbsp;&nbsp; 
                                    {foreach from=$tagwords|strip|sort_array item=tagword}
                                        {assign var=urltagword value={$tagword|trim}} {*substr:0} *}
                                        {if !empty($tagword)} {* for some unknown reason the first tag is empty *}
                                            {* < span class="label label-primary"> *}
                                            {*cms_selflink page=$detail_page urlparam="&tag={$urltagword}" text="{$tagword}"*}
                                            {assign var="href" value="{root_url}/logboek&amp;tag={$urltagword}"}
                                            {assign var="href" value=str_replace(' ','%20',"{$href}")}
                                            {*	<a href="{$href}" class="svg text-boat-color" style="text-decoration:none;">{svg use="price-tag"}&nbsp;{$tagword}</a>
                                            <a href="{$href}" style="text-decoration: none;">&nbsp;{$tagword}</a> 
                                            * }
                                            <a href={$href} class="card-link">{$tagword}</a>
                                            <a class="btn btn-info" href='{$href}'>{$tagword}</a> *}
                                            {*cms_selflink page=$detail_page urlparam="&tag={$urltagword}" text="{$tagword}"*}
                                            <span class="badge blue-gradient badge-pill white-text ml-3" style="font-size: 2vh;">
                                                <a class="white-text text-decoration-none" href='{$href}'> {* btn btn-primary *}
                                                    {$tagword}
                                                </a>
                                            </span>
                                        {/if}
                                    {/foreach}
                                </span>
                            </div>
                        {/if} {* +++++ End Tags +++++ *}
                    </div>
                </section>
            </div>
        </section>
        <section class="section my-3"> {* social share buttons  above article  *}
            <div class="row">
                <div class="col-12">
                    <div class="button-container">
                        {global_content name='shareSocialMediabuttons' text="Deel op "}
                    </div>
                </div>
            </div>
        </section> {* end social share buttons  above article *}
        <hr>
        <section class="section my-3"> {* section blog *}
            <div class="row">
                <div class="col-12 ml-auto mr-auto">
                    <h2 class="h2-resonsive text-center">{$page_title}</h2>
                    {$cgblog_content} {* $entry->content *}
                    {if !empty({$logeind})}
                        <h3 class="h3-responsive">Gevaren mijlen</h3>
                        {math equation='x - y' x={$logeind|intval} y={$logbegin|intval} assign='logtotal'}
                        <table class="table table-responsive">
                            <tbody>
                                <tr><th scope="row">Logboek begin</th><td>{$logbegin} Nm</td></tr>
                                <tr><th scope="row">Logboek eind</th><td>{$logeind} Nm</td></tr>
                                <tr><th scope="row">Afgelegde afstand</th><td>{$logtotal} Nm</td></tr>
                            </tbody>
                        </table>
                    {/if}
                </div>
            </div>
        </section> {* end section-blog *}
        <hr>
        <section class="section extra-margins pb-3 my-3"> {* related articles  *}
            <h4 class="text-center my-3 h4-responsive pt-3">Gerelateerde artikelen</h4>
            <div class="row">
                {* collect categories to show related artiecles at the end of the post *}
                {strip}{capture assign="categories"}{foreach from=$entry->categories item='one_category'}{foreach from=$categories item='one'}{if $one_category.name == $one.name}{$one.name},{/if}{/foreach}{/foreach}{/capture}{/strip}
                {CGBlog summarytemplate="related" category="$categories" number="4"}
            </div>
        </section> {* end related articles  *}
        <hr>
        <section class="section my-3"> {* next / prev. articles  *}
            <div class="contianer-fluid">
            <div class="row">
                {* find related articles to the article shown *}
                {prev_next pageid=$page_id currid=$entry->id currdate=$entry->postdate}
                <div class="col-6">
                    {* find the id of the prev viewable blog article (by post date) 
                    12jun17 $article_id=$entry->id *}
                    {if $cgblog_prev_url}
                        {* 12jun17 want to show article in the same category, and also this show non-pretty url's <a href="{module_action_link module=CGBlog action=detail articleid=$prev_id urlonly=1}" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i> PREVIOUS</a> *}
                        <a href="{$cgblog_prev_url}" class="btn btn-outline-info btn-rounded waves-effect btn-sm float-left">{svg use="left-hand"} &nbsp; Vorig artikel</a>
                    {/if}
                </div>
                <div class="col-6">
                    {* find the id of the next viewable blog article (by post date) *}
                    {if $cgblog_next_url}
                        {* 12jun17 want to show article in the same category, and also this show non-pretty url's <a href="{module_action_link module=CGBlog action=detail articleid=$next_id urlonly=1}" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i>NEXT</a> *}
                        <a href="{$cgblog_next_url}" class="btn btn-outline-info btn-rounded waves-effect btn-sm float-right">Volgend artikel &nbsp; {svg use="right-hand"}</a>
                    {/if}
                </div>
                </div>
            </div>
        </section> {* end next / prev. articles  *}
        <hr>
        <section class="section my-3"> {* Social media and comments *}
            <div class="row">
                {include file='cms_template:shareSocialMedia'}
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="comments-list text-center text-md-left mb-5">
                        <div class="text-center mb-4">
                            <h3 class="pt-3 mb-5">&nbsp;Reacties</h3>
                        </div>
                        {if !empty($stats.count)}
                            <div class="comment-list">
                                {CGFeedback key1="CGBlog" key2=$uisge_news_id action="summary" lang="nl_NL"}
                            </div>
                            {*form_ip_filter}
                            {if empty($ipbanned) || $ipbanned != 'true' *}
                            <button class="btn btn-danger btn-rounded" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseFeedback">
                                Klik om ook op dit artikel ook te reageren
                            </button>
                            <div class="collapse" id="collapseFeedback">
                                <div class="card card-body col-8">
                                    {CGFeedback key1="CGBlog" key2=$uisge_news_id action="default" lang="nl_NL"}
                                </div>
                            </div>
                                {*startExpandCollapse id="Reageeropditartikel" title="Klik om ook op dit artikel ook te reageren."}
                                {CGFeedback key1="CGBlog" key2=$uisge_news_id action="default" lang="nl_NL"}
                                {stopExpandCollapse*}
                            {*/if*}
                        {else}
                            {*form_ip_filter}
                            {if empty($ipbanned) || $ipbanned != 'true' *}
                            <p>
                                <button class="btn btn-deep-orange" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Laat als eerste een reactie achter!
                                </button> {* Op dit artikel zijn nog geen reacties...  *}
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body col-8">
                                    {CGFeedback key1="CGBlog" key2=$uisge_news_id action="default" lang="nl_NL"}
                                </div>
                            </div>
                                {*<p>Op dit artikel zijn nog geen reacties... Laat als eerste een reactie achter!</p>
                                {startExpandCollapse id="Reageeropditartikel" title="Klik om op dit artikel te reageren."}
                                {CGFeedback key1="CGBlog" key2=$uisge_news_id action="default" lang="nl_NL"}
                                {stopExpandCollapse *}
                            {*/if*}
                        {/if}
                    </div>
                </div>
            </div>
        </section> {* end Social media and comments *}
    {*</div> { * container-fluid *}
{/strip}